{% extends "base.html" %}
{% load static %}
{% block title %}
    Przekaż dary
{% endblock %}
{% block header_open %}
    <header class="header--form-page">
{% endblock %}
</header>
{% block content %}
        <div class="slogan container container--90">
            <h2>
                Dziękujemy za przesłanie formularza<br>
                Na maila prześlemy wszelkie
                informacje o odbiorze.
            </h2>
        </div>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}
