{% extends 'base.html' %}
{% block header_open %}
    <header class="">
{% endblock %}

{% block header_close %}
    </header>
{% endblock %}

{% block content %}
    {#    <div class="slogan container container--90"><div class="slogan--item"><h1>{{ user.username }}</h1></div> </div>#}
    <h2>
        Email: {{ user.email }}<br>
        Imię i nazwisko: {{ user.get_full_name }}
    </h2>
    <section class="stats">
        <div class="container container--90">
            <div class="stats--item">

                {% for donation in donations %}
                    <h3>{{ donation.quantity }} worków</h3>
                    <p> dla organizacji {{ donation.institution }}</p>
                    Dary w kategoriach: {{ donation.category_set.all }}
                    {% for category in donation.categories.all %}
                        {{ category }};
                    {% endfor %}
                    <br>
                    Data odebrania: {{ donation.pick_up_date }}<br>
                {% endfor %}
            </div>
        </div>
    </section>


    </h2>

{% endblock %}

