{% extends 'base.html' %}
{% block title %}
    Twój profil
{% endblock %}
{% block header_open %}
    <header class="">
{% endblock %}

{% block header_close %}
    </header>
{% endblock %}

{% block content %}
    <h2>
        Email: {{ user.email }}<br>
        Imię i nazwisko: {{ user.get_full_name }}
    </h2>
    <section class="stats">
        <div class="container container--90">
            <div class="stats--item">
                {% for donation in donations %}

                    <h3>{{ donation.quantity }} worków</h3>
                    <p> Dla organizacji <strong>{{ donation.institution }}</strong></p>
                    Dary w kategoriach: {{ donation.category_set.all }}
                    {% for category in donation.categories.all %}
                        {{ category }}{% if not forloop.last %},{% endif %}
                    {% endfor %}<br>
                    Data odebrania: {{ donation.pick_up_date }}<br>
                    {% if donation.is_taken %}<span style="color: red">ZARCHIWIZOWANO</span>
                    {% else %}
                        <form action="." method="post">
                            {% csrf_token %}
                            <button class="btn btn-archive" name="archive" type="submit" value="{{ donation.id }}">Zarchiwizuj
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

